/* -- fonts used in original, titilliumtext, tuffy, panamera -- */


*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-image: url(images/stars-large-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -200px;
    background-size: 1920px;
    background-color: #030305;
    font-size: 124%;
    font-family: 'Titillium Regular', georgia, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
}

.container {
    width: 1100px;
    color: #fff;
    background: rgba(248, 247, 247, 25%);
    margin: 10vh auto 4em auto;
    padding: 0 1em 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(9, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 35px;
    border-radius: 35px;
}

.container div:nth-child(2n+7) {
    background: rgba(22, 22, 22, 70%);
    padding: 1em 1em 1em 25px;
    border-radius: 0 30px 30px 0;
}

.box1,
.box2,
.box5,
footer {
    grid-column: 1/3;
}

.box4 img {
    border-radius: 0 30px 30px 0;
}

.box5 {
    grid-row: 3/4;
    /* Moves the first text box above the first two photos */
}

.box6,
.box8,
.box10,
.box12,
.box14 {
    background: #111;
    display: flex;
    align-items: flex-end;
    border-radius: 30px 0 0 30px;
}

.box6,
.box10 {
    background: #151515;
}

.box14 {
    background: #19131F
}

footer {
    /* border-top: solid 1px #ddd; */
    margin-top: 10em;
    margin-bottom: 35px;
    padding-top: 2em;
    font-size: 8px;
}


h1 {
    font-family: 'Titillium', Georgia, 'Times New Roman', Times, serif;
    font-size: 110px;
    line-height: .9;
    margin-bottom: .5em;
    font-weight: normal;
}

h2 {
    font-family: 'Titillium Bold', Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-top: 0;
}

p {
    margin-top: 0;
    font-family: 'Titillium Regular', georgia, TuffyRegular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong,
b,
h3,
h4,
h5,
h6 {
    font-family: 'Titillium Bold', georgia, TuffyBold, Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    border-radius: 30px 0 0 30px;
}

a,
a:link,
a:visited {
    color: yellowgreen;
    text-decoration: none;
}

a:hover {
    background: #3a3a3a;
}

a:active {
    color: red;
}


/* ===== RESPONSIVE STYLES ===== */

@media (max-width: 1200px) {
    body {
        font-size: 100%;
        background-size: 1200px;
    }

    .container {
        width: 96%;
    }
}

@media (max-width: 813px) {
    body {
        background-image: url(images/stars-640x960.jpg);
        background-size: cover;
        background-position: center top;
    }

    .container {
        grid-template-columns: 1fr;
        grid-row-gap: 25px;
        margin-top: 1em;
        border-radius: 25px;
        width: 96%;
    }

    .container div:nth-child(1n+4),
    .box4 img {
        border-radius: 25px;
    }

    .box1,
    .box2,
    .box5,
    footer {
        grid-column: 1/2;
    }

    .box6,
    .box8,
    .box10,
    .box12 {
        min-height: auto;
    }

    .box5 {
        grid-row: 5/6;
    }

    img {
        border-radius: 25px;
    }

    h1 {
        font-size: 70px;
    }

    p {
        margin-top: .5em;
    }

    footer>p:last-of-type {
        margin-bottom: 4em;
    }
}

@media (max-width: 480px) {
    body {
        background-size: 480px;
        font-size: .8em;
    }

    h1 {
        font-size: 40px;
        line-height: 1.2;
    }
}